*{
    margin :0;
    padding:0  
}
body {
    font-family: 'Muli', sans-serif;
}
   
ul{
    list-style: none;
}
.white{
    color:#FFF;
}
.gray{
    color:gray;
}

header{
 background-image: url(Images/bg_header.jpg);
 color:#FFF;
 background-size: cover;
 background-attachment: fixed;
 background-repeat: no-repeat;
}
.container{
 background-color: black; 
 background-size: cover;
}
 nav {
text-align: right;
padding-bottom:30;
padding-right: 200;
font-size: 12;

}
h1 {
    padding-top: 30;
    font-size: 25;
    color: #FFF;
    padding-left: 200;
}
 nav ul {
     
}
 nav ul li {
 display:inline-block;
 margin: 0 10 ;
}
 nav ul li a {
    text-decoration: none;
    color:gray;
}
.btn{
    color:gray;
    background-color: black;
    outline-color: gray;
    padding: 10 15;
    border-radius: 2px;
    border: 1px solid grey ;
    cursor: pointer;
}
.btn:hover{
    background-color: #FFF;
    color: black;
    
}
header .title{
  text-align: center; 
   
}
header .title h2{
  padding-top: 150; 
  font-size: 40;
  text-transform: uppercase;
}
header .title span {
    display: block;
    font-size: 12;
}
header .title .btnOne{
   margin-top: 20; 
   outline-color: gray;
   background-color: transparent;
   font-size: 12px;
   color: gray;
   padding: 12 50 ;
   border: 3px solid gray ;
   border-radius: 3px;
   margin-bottom: 100;
   cursor: pointer;
}
header .title .btnOne:hover{
    background:#FFF;
}
 

header .title .btnTwo{
 margin-top: 20;
 margin-bottom: 100;
 background-color: orange;
 border: none;
 color: #FFF;
 font-size: 12px;
 padding: 15 50 ;
 border-radius: 3px ;
 cursor: pointer;
}
header .title .btnTwo:hover{
   background:#FFF;
   color: black;
}
.Best {
   text-align: center;
   background-color: #FFF;
   background-size: cover;
}
.Best h2{
    font-size: 30;
 padding-top: 75;   
}
.Best p { 
    font-size: 12;
    padding-top: 5;
    color: gray;
    padding-bottom: 75;
}
.Reasons{
 background-color:#f9ecf2;

    
}
.Reasons h2 {
  padding-top: 75;
  text-align: center;
  font-size: 20;
  color: #391326;
}
.Reasons ul {
  text-align: center;
  padding-top:60 ;
}
.Reasons ul li {
    display: inline-block;
    margin:0 20 ;
    
}
.cogs{
    font-size: 40px ;
    color: #391326;
}
.bolt{
   font-size: 40px ;
    color: #391326; 
}
.heart{
   font-size: 40px ;
    color: #391326; 
}
.smile {
   font-size: 40px ;
    color: #391326; 
}
.Reasons ul li h6{
    padding-top: 30;
    font-size: 15;
}
.Reasons ul li p{
    width:250px ;
    font-size: 15;
    padding-top: 20;
    padding-bottom: 50;
}
.Questions{
    background-color: #FFF;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 10 150 ;  
}
.Questions ul {
    
}
.Questions h3 {
    
}
.Questions p{
  font-size: 12;  
}
.Questions a{
   text-decoration-line: none; 
}
.right {
  
  position: relative;
    top: -170px; /* This will move it 20px up */
    left: 550px; /* This will move it 20px to the right */
    padding-top: 7;
}
}
.Nice{
    
}
.Can{
    padding-top: 40;
}
 .learn{
    padding-top: 10;
    background-color: #f4f4f4 ;
    padding:40 0 70 40 ;
    padding-right: 10;
    background-size: auto;
     position: relative;
    top: -100px; /* This will move it 20px up */
     font-size: 1.1em;
}
.learn button {
    float: right;
    margin-right: 20;
    position: relative;
    right: 25px; /* This will move it 120px to the left */
    border: none;
    background-color:#ff9900;
    padding :10 30;
    border-radius:3px;
    color:#FFF;
    cursor: pointer;
}
.learn button:hover{
    color:black;
    background-color: #FFF;
}
.Contact{
  color: #dcdcdc;
  background-color: #1a1a1a;
  padding:10 90 ;
}
.Contact .first li{
   display: inline-block;
    margin: 30 50;
}
 .Contact .first li p {
   font-size: 10px ;
   padding-top: 20;
}
.Contact .first li .social li {
    margin:0;
}
.follow{
   position: relative;
    top: -30px; /* This will move it 20px up */ 
}
.social li a {
    color:#dcdcdc;
}
.Contact span {
    font-size: 10px ;
    width: 10 px;
    float: right;
    
}
.awesome{
    font-size: 25 ;
    padding-top: 20;
}
.copy{
    float: right;
}
.final{
    background-color: black;
    color: #dcdcdc;
    font-size: 10;
    padding: 5 90 ;
}
.final a {
    text-decoration: none;
    color: gray;
}